.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  width: 50vh;
}

.registerButton {
  margin-top: 20px;
  color: white;
  background-color: rgb(255, 126, 40, 0.7);
  color: black;
  padding: 10px;
  border:1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.4s;
}
.registerButton:hover{
  background-color: rgb(255, 126, 40);
}
.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;

  color: white;
  background-color: rgb(255, 126, 40, 0.7);
  color: black;
  padding: 10px;
  border:1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.4s;
}
.registerLoginButton:hover{
  background-color: rgb(255, 126, 40);
}